

@media (max-width:361px){
    .bannerCar{
        width: 280px;
    }
    .technologyPicture{
        width: 310px!important;
        height: 208px!important;
    }
    .cardBag{
        right: 20px!important;
    }
    .break{
        display: none;
    }
    .featuredMap{
        height: 480px;
    }
    .featuredCar{
        width: 150px;
        height: 356px;
    }
}
@media (min-width:361px) and (max-width:376px){
    .bannerCar{
        width: 290px;
    }
    .technologyPicture{
        width: 312px!important;
        height: 208px!important;
    }
    .cardBag{
        right: 28px!important;
    }
    .break{
        display: none;
    }
    .featuredMap{
        height: 480px;
    }
    .featuredCar{
        width: 150px;
        height: 356px;
    }
}
@media (min-width:376px) and (max-width:426px){
    .bannerCar{
        width: 310px;
    }
    .break{
        display:none;
    }
    .technologyPicture{
        width: 340px!important;
        height: 208px!important;
    }
    .cardBag{
        right: 52px!important;
    }
    .break{
        display: none;
    }
    .featuredMap{
        height: 480px;
    }
    .featuredCar{
        width: 150px;
        height: 356px;
    }
    .firstFeaturedCard{
        left: 50px!important;
        top: 160px!important ;
    }
    .secondFeaturedCard{
        left: 50px!important;
    }
    .thirdFeaturedCard{
        left: 220px!important;
    }
}
@media (min-width:427px) and (max-width:769px){
    .cardBag{
        right: 32px!important;
    }
}
.technology{
   backdrop-filter: blur(16px);
}
/* Make sure Swiper takes full width */
.swiper-pagination{
    background-color: white !important; /* Change dot color to white */
    top: -20px!important;
  }
  .MuiTab-root{
    min-width: 52px!important;
  }